breakout_game/Connected Services/users_service/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/breakout_wcf/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/breakout_wcf" />
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/breakout_wcf" minOccurs="0" name="AllUsersResult" nillable="true" type="q1:ArrayOfUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/breakout_wcf" minOccurs="0" name="GetUserResult" nillable="true" type="q2:Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="userExs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="userExsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userExsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStast">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/breakout_wcf" minOccurs="0" name="stats" nillable="true" type="q3:Stats_Class" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStastResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowListStast">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowListStastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/breakout_wcf" minOccurs="0" name="ShowListStastResult" nillable="true" type="q4:ArrayOfStats_Class" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowUserStast">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowUserStastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/breakout_wcf" minOccurs="0" name="ShowUserStastResult" nillable="true" type="q5:ArrayOfStats_Class" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getinnerJoin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getinnerJoinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/breakout_wcf" minOccurs="0" name="getinnerJoinResult" nillable="true" type="q6:ArrayOfinnerJoin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="showMaxstast">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="showMaxstastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/breakout_wcf" minOccurs="0" name="showMaxstastResult" nillable="true" type="q7:ArrayOfStats_Class" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sortByStats">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="sortByStatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/breakout_wcf" minOccurs="0" name="sortByStatsResult" nillable="true" type="q8:ArrayOfinnerJoin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="countUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="countUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countUsersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AvgScore">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AvgScoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AvgScoreResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TotalScore">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TotalScoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TotalScoreResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>