breakout_game/Connected Services/users_service/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/breakout_wcf/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/breakout_wcf/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/breakout_wcf/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/breakout_wcf" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IService1_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:AllUsers" />
  </wsdl:message>
  <wsdl:message name="IService1_AllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_userExs_InputMessage">
    <wsdl:part name="parameters" element="tns:userExs" />
  </wsdl:message>
  <wsdl:message name="IService1_userExs_OutputMessage">
    <wsdl:part name="parameters" element="tns:userExsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddStast_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStast" />
  </wsdl:message>
  <wsdl:message name="IService1_AddStast_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStastResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowListStast_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowListStast" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowListStast_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowListStastResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddUser" message="tns:IService1_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddUserResponse" message="tns:IService1_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AllUsers" message="tns:IService1_AllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AllUsersResponse" message="tns:IService1_AllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUser" message="tns:IService1_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserResponse" message="tns:IService1_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="userExs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/userExs" message="tns:IService1_userExs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/userExsResponse" message="tns:IService1_userExs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStast">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddStast" message="tns:IService1_AddStast_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddStastResponse" message="tns:IService1_AddStast_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowListStast">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ShowListStast" message="tns:IService1_ShowListStast_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ShowListStastResponse" message="tns:IService1_ShowListStast_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IService1/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllUsers">
      <soap:operation soapAction="http://tempuri.org/IService1/AllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="userExs">
      <soap:operation soapAction="http://tempuri.org/IService1/userExs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStast">
      <soap:operation soapAction="http://tempuri.org/IService1/AddStast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowListStast">
      <soap:operation soapAction="http://tempuri.org/IService1/ShowListStast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/breakout_wcf/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>